@page "/testpage"
@using BlazorSCADA.Components
<h3>pratice</h3>
<ComBtn />
<Test IncrementAmount="1" cbOnclick="(MouseEventArgs e)=>testFunction(e)" cbTest="testCallback"/>
@code {
    public void testFunction(MouseEventArgs e)
    {
        string test = e.ClientX.ToString();
    }

    public void testCallback()
    {
        5.ToString();
    }
}
